/* Постійні клієнти */

.clients__title {
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.clients-list {
  @extend %flex-item;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  padding-top: 15px;
  padding-bottom: 15px;

  @extend %flex-item;
  align-items: center;
  justify-content: center;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms var(--cubic-bazier);

  &:hover,
  &:focus {
    color: var(--acent-color);
    border: 1px solid var(--acent-color);
  }
}

.clients-icon {
  width: 106px;
  height: 60px;

  fill: currentColor;
}
