:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --acent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-color-fon: #2f303a;
  --main-section-color: #f5f4fa;

  
  --indent-set-gup: 30px;
  --cubic-bazier: cubic-bezier(0.4, 0, 0.2, 1);
}